// Colors
$it-red: rgb(231, 76, 60)

$dark-primary: #455A64
$light-primary: #CFD8DC
$primary: #607D8B
$text: #FFFFFF
$accent: #FFEB3B
$primary-text: #212121
$secondary-text: #757575
$divider: #eee
$color-grey: #495867
$color-grey-light: #f7f7ff
$color-red: #fe5f55
$color-black: #000000
$color-white: #ffffff


// fonts
$font-geo: "BPG Algeti", sans-serif
$font-eng: 'Open Sans', sans-serif