/**
  * Address Info Styles
  *
  */
.address
  margin-bottom: 4em

.address-info
  padding: 2em 1em

p
  font-size: 1.1rem
  margin-bottom: .4em
  @media (max-width: 320px)
    font-size: .9rem
  &.mail
    a
      color: $primary-text
  &.map-marker:before,
  &.phone:before,
  &.fax:before,
  &.envelope:before
    font-family: FontAwesome
    color: #000
    margin-right: 12px
    font-size: 1.6rem
    @media (max-width: 320px)
      font-size: 1.1rem
  &.map-marker:before
    content: '\f041'
  &.phone:before
    content: '\f095'
  &.fax:before
    content: "\f1ac"
    font-size: 1.3rem
  &.envelope:before
    content: "\f0e0"
    font-size: 1.3rem

.address-map
  width: 50%
  height: 286px
  transform: translate(2em, 2em)
  #map
    width: 100%
    height: 100%
  @media (max-width: 960px)
    height: 40vh
    transform: translate(0em, 0em)