// Burger Icon Styles
.burger-icon
  position: relative
  width: 50px
  height: 42px
  cursor: pointer
  display: none
  z-index: 200

  @media only screen and (max-width: 900px)
    display: block

  .bar-top,
  .bar-middle,
  .bar-bottom
    position: absolute
    height: 6px
    width: 100%
    background-color: $color-grey
    transition: all .2s ease-in-out

  .bar-top
    top: 0

  .bar-middle
    top: 50%
    transform: translateY(-50%)
    opacity: 1

  .bar-bottom
    bottom: 0

  // Burger Icon Clicked
  &.closed

    .bar-top
      transform-origin: 0 0
      transform: rotate(45deg)
      top: -1px
      width: 49px
      left: 5px

    .bar-middle
      opacity: 0

    .bar-bottom
      transform-origin: 0 0
      transform: rotate(-45deg)
      bottom: 3px
      width: 49px

