#footer
  width: 100%
  background-color: $dark-primary
  padding: .6em 0
  position: relative
  border-top: 4px solid $accent
  .copyright
    text-align: center
    color: $text

#top-ge-counter-container
  position: absolute
  right: 1em
  top: 50%
  transform: translateY(-50%)