#header
    width: 100%
    padding: .6em 1em
    background-color: $accent
    // display: flex
    // flex-direction: row
    // align-items: center
    // justify-content: space-between
    display: grid
    grid-template-columns: 1fr auto 1fr
    h1 
        +hide-from-screen
    img 
        height: 36px
        width: auto

.h--cta-wrapper
    +hide-from-screen