.hero-section
  height: 80vh
  width: 100%
  position: relative
  background-image: url('../img/hero-img.jpg')
  background-size: cover
  background-position: center
  border-bottom: 8px solid $accent
  color: $text
  text-align: center
  display: grid
  align-items: center
  justify-content: center
  margin-bottom: 3em
  .hs-wrapper
    border: 5px solid $text
    padding: 2em 2.4em
  .hs--title
    font-size: 3rem
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 2px
    margin: 0
    padding-bottom: .6em
  .hs-lead
    font-size: 1.4rem
    letter-spacing: 3px
  .hero--cta
    position: absolute
    left: 50%
    bottom: 10px
    transform: translateX(-50%)
    a
      font-size: 1.1rem
      color: $text