.hero-section
  height: 80vh
  width: 100%
  background-image: url('https://cdn.pixabay.com/photo/2018/02/01/20/38/scoop-3124067_960_720.jpg')
  background-size: cover
  background-position: center
  border-bottom: 8px solid $accent
  color: $text
  text-align: center
  display: grid
  align-items: center
  justify-content: center
  margin-bottom: 3em
  .hs-wrapper
    border: 5px solid $text
    padding: 2em 2.4em
  .hs--title
    font-size: 3rem
    font-family: $font-eng
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 2px
    margin: 0
    padding-bottom: .6em
  .hs-lead
    font-size: 1.4rem
    font-family: $font-geo
    letter-spacing: 2px