.scroll-to-top
    position: fixed
    bottom: 3.8em
    right: 0em
    display: none
    a:link,
    a:visited
        background-color: $accent
        padding: .8em
        font-size: 1.3rem
        color: $primary-text