.shop
  margin-top: 6em
  .content--wrapper
    width: 80vw
    height: 400px
    margin: 0 auto
  .address-map
    width: 100%
    height: 100%
    transform: translate(-2em, -2em)
    #mapShop
      width: 100%
      height: 100%